<aside class="toc">

    <div class="toc-header">

        <h3>

            Nesta página

        </h3>

    </div>

    <nav class="toc-nav">

        <ul class="toc-list">

            <li>

                <a href="#introducao">

                    Introdução

                </a>

            </li>

            <li>

                <a href="#historia">

                    História

                </a>

            </li>

            <li>

                <a href="#como-funciona">

                    Como funciona

                </a>

            </li>

            <li>

                <a href="#primeiro-exemplo">

                    Primeiro exemplo

                </a>

            </li>

            <li>

                <a href="#conclusao">

                    Conclusão

                </a>

            </li>

        </ul>

    </nav>

</aside>